/* STYLE FOR ALL PAGES */

/* index page */
body {	
	background-image:url("../images/stadium.jpg");
	background-color:black;
	background-repeat:no-repeat;
	background-position:center;
	background-size:137%;
}

#main-wrapper {
	position:relative;
	border:1px solid red; 
	width:980px;
	//height:1000px;
	margin:auto;
}

#logo {
	/*border:1px solid white; */
	width:350px;
	height:200px;
	margin-top:20px;
	margin:auto;
	text-align:center;
}

#afcTeam {
	height:150px;
	width:300px;
	border:1px solid yellow;
	float:left;
	margin-top:10px;
	margin-left:10px;
}

#nfcTeam {
	height:150px;
	width:300px;
	border:1px solid yellow;
	float:right;
	margin-top:10px;
	margin-right:10px;
}

#nav{
	border:1px solid purple; 
	width:960px;
	height:50px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}

.nav-bar {
	font-size:26px;
	text-align:center;
	color:#D1D1D1;
	text-decoration:none;
	float:left;
	padding:10px;
	font-family:Russo One;
}

.nav-bar:hover{
	text-shadow:#DF0101 5px 5px 15px;
}

#container {
	border:1px solid orange; 
	width:960px;
	height:500px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}

#content1 {
	border:1px solid white; 
	width:460px;
	height:480px;
	margin-top:10px;
	margin-left:10px;
	float:left;
}

#content2 {
	border:1px solid white; 
	width:460px;
	height:480px;
	margin-top:10px;
	margin-right:10px;
	float:right;
}

#iframe {
	width:960px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}

#footer {
	border:1px solid green; 
	clear:both;
	width:980px;
	height:100px;
	margin:auto;
}

p {
	color:#D1D1D1;
}

/* individual team page */

#TeamImage {
	border:1px solid white; 
	width:300px; 
	height:150px;
	margin-top:10px;
	margin-left:10px;
	float:left;
}

#TeamName {
	color:#D1D1D1;
	margin-left:10px;
}

#TeamPlayers {
	border:1px solid white; 
	background-color:black;
	width:600px;
	margin-top:10px;
	margin-left:10px;
	float:right;
}

/* layout for the rest of the pages */

#logo2 {
	border:1px solid white; 
	width:165px;
	height:75px;
	margin-top:20px;
   	margin:auto;	
	text-align:center;
	float:left;
}

#nav2 {
	border:1px solid purple; 
	width:715px;
	height:50px;
	margin-top:20px;
	float:right;
}

.nav-bar2 {
	font-size:20px;
	text-align:center;
	color:#D1D1D1;
	text-decoration:none;
	float:left;
	padding:10px;
	font-family:Russo One;
}

.nav-bar2:hover {
	text-shadow:#DF0101 5px 5px 15px;
}

#players
{
    background-color: #92754c;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

#playersdiv
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
/* end layout for the rest of the pages */


/* teams page */

#teamTable {
	float:left;
}

#teams {
    background-color:brown;
    float:left;
    margin-left: 100px;
    margin-right: auto;
    
}

table, td {
	color:#D1D1D1;
	border:1px solid white;
	border-collapse:collapse;		
}

#table {
	font-family:Russo One;
	font-size:22px;
	text-align:center;
	margin-top:200px;
}

#playerInfo {
	font-family:Russo One;
	font-size:14px;
	padding-right:10px;
}

/* individual player page */


#playerImage {
	border:1px solid white; 
	width:300px;
	height:202px;
	margin-top:10px;
	margin-left:10px;
        text-align: center;
	float:left;
}


#personalInfo {
	border:1px solid orange; 
	color:#D1D1D1;
	width:646px;
	height:202px;
	margin-top:10px;
	margin-left:10px;
	float:left; 
}

#column1 {
	border:1px solid red; 
	color:#D1D1D1;
	width:321px;
	height:202px;
	float:left;
}

#column2 {
	border:1px solid pink; 
	color:#D1D1D1;
	width:321px;
	height:202px;
	float:left;
}

#restOfInfo {
	border:1px solid white; 
	width:960px;
	height:400px;
	margin-top:10px;
	margin-left:10px;
	float:left;
	color:#D1D1D1;
}
